* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body{
	margin: auto 0;
	padding: 0;

	background-color: lightgrey;
	font-family: sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#wrap{
	width: 100%;
	height: 100%;
	position: relative;
}

#header{
	height: 20%;
	border: orange 1px solid;
	position: relative;
	text-align: center;
}

h1{
	text-align: center;
	font-weight: normal;
}

#math_world{
	text-align: center;
	font-size: 2em;
	padding: 0;
	margin: 0;
}

#mute_button{
	width: 8%;
	height: 40%;
	background-color: orange;
	position: absolute;	
	top: 30%;
	right: 6%;
	padding-bottom: 5%;
}

#mute_button p {
	text-align: center;
}

#osc_world{
	width: 100%;
	height: 80%;
	border: 1px red solid;
	position: relative;
}

#interval_selects{
	margin: 0 auto;
	padding: 0;
}

#equal_temp_select{
	position: absolute;
	top: 50%;
	right: 50%;
	clear: both;
}

.freq_input{
	text-align: center;
	margin-bottom: 5%;
}

.noUi-target{
	background-color: green;
}

.noUi-handle{
	background-color: darkblue;
	height: 2em;
}

#osc_1_text,#osc_2_text{
	width: 50%;
	text-align: center;
	font-size: 2em;
}

#osc_1{
	float: left;
	width: 50%;
	padding: 5%;
}

#osc_2{
	float: left;
	width: 50%;
	padding: 5%;

}