* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body{
	margin: auto 0;
	padding: 0;

	background-color: lightgrey;
	font-family: sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrap{
	width: 100%;
	height: 100%;
	position: relative;
}

#header{
	height: 20%;
	border: orange 1px solid;
	position: relative;
	text-align: center;
}

h1{
	text-align: center;
	font-weight: normal;
}

#math_world{
	text-align: left;
	padding-left: 10%;
	font-size: 1.5em;
	margin: 0;
	height: 10%;
}

.top_button{
	text-align: center;
	width: 8%;
	height: 45%;
	position: absolute;
	background-color: orange;
	padding-bottom: 5%;	
	top: 30%;
	color: white;
	cursor: default;
}
.top_button p {
	padding-top: 8%;
}
#mute_button{
	right: 6%;
}
#reset_button{
	left: 5%;
	background-color: grey;
}
#pan_button{
	right: 15%;
}

#master_volume_div{
	position: absolute;
	top: 12%;
	right: 1%;
	height: 75%;
}

#osc_container_div{
	width: 100%;
	height: 80%;
	border: 1px red solid;
	position: relative;
}

#copy_osc_value{
	position: relative;
	left: 47%;
	top: 14.6%;
	height: 7.5%;
	width: 6%;
	background-color: grey;
	color: lightgrey;
	text-align: center;
	font-size: .8em;
	cursor: default;
}
	#copy_osc_value p{
		padding-top: 10%;
	}

#interval_selects_div{
	margin: 0 auto;
	padding: 0;
	position: absolute;
	top: 50%;
}

#interval_menu{
	
}

.freq_input{
	margin-bottom: 5%;
}

.noUi-target{
	background-color: green;
}

.noUi-handle{
	background-color: darkblue;
}

#osc_1_text,#osc_2_text{
	width: 100%;
	text-align: left;
	font-size: 2em;
}

#osc_1{
	float: left;
	width: 50%;
	padding: 5%;
}

#osc_2{
	float: left;
	width: 50%;
	padding: 5%;

}